# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
venv/
.venv/
env/

# Runtime artifacts
agent_id.txt
server_key.pem
server_key.bin
server_pub.hex
*.key

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
nexus-agent/
